{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>
<div class="jumbotron">
	<div class="jumbotron-inner">
		<h2>Profile for Booking: {{ reservation.id }}</h2>
		<p>
			Name: {{ reservation.first_name }} {{ reservation.last_name }}
		</p>
		<p>
			email: {{ reservation.email }}
		</p>
		<p>
			created: {{ reservation.created }}
		</p>
	</div>


	<div class="jumbotron-inner">
		<h3>
			Reservation Data:
		</h3>
		<div class="line">
		</div>

			<form action="{% url 'bookings:booking' reservation.id %}" method="post">
				{% csrf_token %}
				<div>
					{% bootstrap_field r_form.date %}
				</div>
				<div>
					{% bootstrap_field r_form.duration %}
				</div>
				<div>
					{% bootstrap_field r_form.quote_amount %}
				</div>
				<div>
					{% bootstrap_field r_form.bus %}
				</div>
				<div>
					{% bootstrap_field r_form.driver %}
				</div>
				<button type="submit" name="btn-r_form">Save Changes</button>
			</form>

	</div>

		<div class="jumbotron-inner">
		<h3>
			Functions:
		</h3>
		<div class="line">
		</div>
		<div>
			<p>Emails:
			</p>
			<p>
				<a href="{% url 'bookings:send_follow_up_email' reservation.id %}" class="btn btn-info" role="button">Follow Up Email</a>
				<a href="#" class="btn btn-info" role="button">Deposit Reminder Email</a>
				<a href="#" class="btn btn-info" role="button">Service Reminder Email</a>
				<a href="#" class="btn btn-info" role="button">Thank you Email</a>
			</p>
			<div class="line">
		</div>
		<p>Navigation
		</p>
		<p>
			<a href="{% url 'bookings:invoice' reservation.id %}" class="btn btn-info" role="button">Get Purchase Order</a>
				<a href="{% url 'bookings:vehicle_management' %}" class="btn btn-info" role="button">Bus Profile</a>
				<a href="{% url 'bookings:vehicle_management' %}"class="btn btn-info" role="button">Driver Profile</a>

			</p>
		</div>
	</div>

	<div class="jumbotron-inner">
		<h3>
			Payment info:
			<p></p>
			<p>
				status: {{ payment.status }}
			</p>
			<p>
				Charge Amount: {{ payment.charge_amount }}
			</p>
			<p>
				Stripe Customer ID: {{ payment.stripe_customer_id }}
			</p>
			<p>
				Charge ID: {{ payment.stripe_id }}
			</p>
			<p>
				Charge_description: {{ payment.charge_description }}
			</p>
		</h3>
		<div class="line">
			<p>
			<a href="{% url 'bookings:payment' reservation.id %}" class="btn btn-info" role="button">Charge Deposit</a>
			<a href="https://dashboard.stripe.com/test/payments" class="btn btn-info" role="button">Charge for service</a>
		</p>
		</div>

	</div>


</div>

</body>
{% endblock content %}