{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>
<div class="jumbotron">
	<div class="jumbotron-inner">
		<h2>
		Profile for Booking: {{ reservation.id }}
		</h2>
		<p>
			Name: {{ reservation.first_name }} {{ reservation.last_name }}
		</p>
		<p>
			email: {{ reservation.email }}
		</p>



	</div>

	<div class="jumbotron-inner">
		<h3>
			Payment info:
		</h3>
		<div class="line">
		</div>

	</div>


	<div class="jumbotron-inner">
		<h3>
			Reservation Data:
		</h3>
		<div class="line">
		</div>

			<form action="{% url 'bookings:booking' reservation.id %}" method="post">
				{% csrf_token %}
				<div>
					{% bootstrap_field r_form.date %}
				</div>
				<div>
					{% bootstrap_field r_form.duration %}
				</div>
				<div>
					{% bootstrap_field r_form.quote_amount %}
				</div>
				<div>
					{% bootstrap_field r_form.bus %}
				</div>
				<button type="submit" name="btn-r_form">Save Changes</button>
			</form>

	</div>

</div>
<div>
	<span>
		<a href="{% url 'bookings:invoice' reservation.id %}" class="btn btn-info" role="button">Get invoice</a>
		<a href="{% url 'bookings:send_follow_up_email' reservation.id %}" class="btn btn-info" role="button">Send follow up email</a>
	</span>
</div>

</body>
{% endblock content %}