{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'bookings:home' %}">The Party Bus Company</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right fropdown-menu">
         <li><a href="{% url 'bookings:home' %}#buses">Buses</a></li>
         <li><a href="{% url 'bookings:faq' %}">Question Center</a></li>
         <li><a href="{% url 'bookings:home' %}#contact">Contact Us</a></li>
        </ul>
      </div> <!-- navbar collapse -->
    </div> <!-- container fluid -->
</nav>


  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 10% 20% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Booked!</h2>
              <div class="divider-header"></div>
              <p>Your reservation has been successfully booked. For your security, we sent you an email with your payment confirmation. </p>
              <p>You may contact us at 
                <a href='mailto:service@ThePartyBusCompany.io' style="color: blue"> service@ThePartyBusCompany.io
                </a> or call <a style="color: red" href="tel:+18175134168">817-513-4168 </a>for questions or comments.</p>
              <p>See you soon!</p>
            </div>
          </div>
        </div>
        <div style="padding:5% 0px 1% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}">Return to Home Page</a>
              </div>
      </div>
    </div>
   </section>

{% endblock content %}