{% extends "bookings/base.html" %}
{% load static %}

{% block content %}
<!-- Section: Navbar -->


<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:0px 10% 5% 10%">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Success!</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p>Your email has been delivered to <a href='mailto:service@ThePartyBusCompany.io' style="color: red"> service@ThePartyBusCompany.io
                </a> - we will follow up within 2 business hours.</p>
            </div>
          </div>
        </div>



    <div class="container marginbot-50" style="padding:0px 10% 5% 10%">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="section-heading text-center wow flipInY" data-wow-offset="0" data-wow-delay="0.4s" style="padding:15%">
              <h2 class="h-bold">Phones your thing?</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p><a class="big-heading highlight-dark wow bounceInDown btn-red" href="tel:+18175134168">Call 817-513-4168</a><p>
               9:00 AM to 9:00 PM.</p>
            </div>
          </div>
      </div>
      <div style="padding:0% 0px 10% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}">Return To The Home Page</a>
              </div>
              </section>

{% endblock content %}