{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>
<div class="jumbotron">
	<div class="jumbotron-inner">
		<h2>
		Profile for Driver: {{ driver.name }}
		</h2>
			<form action="{% url 'bookings:driver_profile' driver.id %}" method="post">
				{% csrf_token %}
				<div>
					{% bootstrap_field form.contact %}
				</div>
				
				<button type="submit" name="btn-form">Save Changes</button>
			
			</form>

	</div>

</div>
	<div class="jumbotron">
	<h4 class="text-left">
		Reservations with completed payments
	</h4>
	<div class="text-left" style="font-size:8;">
		sorted by reservation date	
	</div>

	<table class="table-striped table-hover">
		<thead>
			<tr>
				<th width="15%">#</th>
				<th width="20%">Bus</th>
				<th width="20%">Reservation Date</th>
				<th width="23%">Payment Status</th>
				<th scope="col">Name</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in driver_reservations %}
				<tr>
					<td>
						<a href="{% url 'bookings:booking' reservation.id %}">
							{{ reservation }}
						</a>
					</td>
					<td>{{ reservation.bus }}</td>
					<td>{{ reservation.date }}</td>
					<td>{{ reservation.payment.status }}</td>
					<td>{{ reservation.first_name }} {{ reservation.last_name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div>

</div>

</body>
{% endblock content %}