{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'bookings:home' %}">The Party Bus Company</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right fropdown-menu">
         <li><a href="{% url 'bookings:quote_form' %}">Prices</a></li>
         <li><a href="{% url 'bookings:buses' %}">Buses</a></li>
         <li><a href="{% url 'bookings:specials' %}">Specials</a></li>
         <li><a href="{% url 'bookings:faq' %}">Question Center</a></li>
        </ul>
      </div> <!-- navbar collapse -->
    </div> <!-- container fluid -->
</nav>
  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:10% 10% 20% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sorry!</h2>
              <div class="divider-header"></div>
              <p>We have special pricing for this date due to very high demand.</p>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> - 9:00 AM to 9:00 PM.</p>
            </div>
          </div>
        </div>
        <div style="padding:5% 0px 1% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Tap to Email</a>
      </div>
    </div><!--
    <div style="padding:10% 0px 5% 0px">
              <p class="text-left"> New Years Eve Pricing (12/31) - Bus Sizes Currently Available: </p>
              <table class="table-striped table-hover" align="center">
                <thead>
                  <tr>
                    <th width="20%" class="text-center">Group Size</th>
                    <th width="20%" class="text-center">Min 6 hours</th>
                    <th width="20%" class="text-center">Additional Hour</th>
                  </tr>
                </thead>
                <tr>
                  <td>12 Passengers</td>
                  <td>$1050</td>
                  <td>$150</td>
                </tr>
                <tr>
                  <td>18 Passengers</td>
                  <td>$1150</td>
                  <td>$155</td>
                </tr>
                <tr>
                  <td>20 Passengers</td>
                  <td>$1200</td>
                  <td>$160</td>
                </tr>
                <tr>
                  <td>22 Passengers</td>
                  <td>$1250</td>
                  <td>$165</td>
                </tr>
                <tr>
                  <td>24 Passengers (Extra Fancy)</td>
                  <td>$1400</td>
                  <td>$175</td>
                </tr>
                <tr>
                  <td>30 Passengers</td>
                  <td>$1400</td>
                  <td>$175</td>
                </tr>
              </table> -->
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">New Year's Eve Prices</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s"></div>
                <p class="wow bounceInDown" data-wow-delay="0.2s"> All prices include 6 hours (NYE minimum), transportation fees and taxes. Driver's tip not included. Call or Text to reserve.
              </p>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s"></div>
              <!-- 12 person bus -->
              <p class="wow bounceInDown" data-wow-delay="0.2s"> 12 Person Party Van - $1,100 and $150 for each additional hour.</p>
              <div class="illustration" style="padding-bottom: 10%">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockOutside12.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockInside12_1.png' %}" alt="Party Van">
              </div>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s"></div>
              <!-- 20 person bus -->
              <p class="wow bounceInDown" data-wow-delay="0.2s"> 20 Person Party Bus - $1,200 and $160 for each additional hour. (2 available)</p>
              <div class="illustration" style="padding-bottom: 10%">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockOutside20.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockInside20.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockInside20_2.png' %}" alt="Party Van">
              </div>
              <div class="divider-header wow bounceInDown"" data-wow-delay="0.2s"></div>
              <!-- 30 person bus -->
              <P class="wow bounceInDown" data-wow-delay="0.2s"> 30 Person Party Bus - $1,400 and $175 for each additional hour.</P>
              <div class="illustration" style="padding-bottom: 10%">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockOutside30.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/HenockInside30.png' %}" alt="Party Van">
              </div>
              <div class="divider-header wow bounceInDown"" data-wow-delay="0.2s"></div>
              <!-- 26 person bus -->
              <P class="wow bounceInDown" data-wow-delay="0.2s"> 24-26 Person Party Bus - $1,400 and $175 for each additional hour.</P>
              <div class="illustration" style="padding-bottom: 10%">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/AllianceOutside26.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/AllianceInside26_1.png' %}" alt="Party Van">
                <img src="{% static 'Bookings/img/PartyBusesPhotos/AllianceInside26_2.png' %}" alt="Party Van">
              </div>

            </div>
          </div>
        </div>
   </section>



{% endblock content %}