{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

<nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-header navbar-brand h-1 text-center" href="http://www.thepartybuscompany.io">The Party Bus Company</a>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.thepartybuscompany.io/reservation">Reserve</a></li>
         <li><a href="http://www.thepartybuscompany.io/prices">Prices</a></li>
         <li><a href="http://www.thepartybuscompany.io/buses">Buses</a></li>
         <li><a href="http://www.thepartybuscompany.io/specials">Specials</a></li>
        </ul>
      </div>
</nav>

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 75px 300px 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sorry!</h2>
              <div class="divider-header"></div>
              <p>We have special pricing for this date due to very high demand.</p>
              <p>Please contact us at service@ThePartyBusCompany.io and we will be better able to assist.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>

{% endblock content %}