{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:10% 10% 20% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sorry!</h2>
              <div class="divider-header"></div>
              <p>We have special pricing for this date due to very high demand.</p>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> - 9:00 AM to 9:00 PM.</p>
            </div>
          </div>
        </div>
        <!-- link to contact section on home page -->
        <div style="padding:5% 0px 1% 0px">
          <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Tap to Email</a>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}