{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}


     <!-- Section: parallax 1 -->
  <section id="parallax4" class="home-section parallax text-light" data-stellar-background-ratio="0.3" style="padding: 0 0 5% 0;max-width: 100%; overflow: hidden">
    <div class="container" style="padding: 0 0 0 0">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center" style="padding: 15% 0% 5% 0%;">
              <h2 class="h-bold" style="background-color: #000; opacity: 0.7; padding: 0 10% 0 10%">The Most trusted name in Party Buses</h2>

              <h2>
                &nbsp;
              </h2>

              <div class="h-bold" style="background-color: #000; opacity: 0.7; padding: 0 10% 0 10%">
<!--
              <h2 class="h-bold">Pick a bus and get your price</h2>
              <h2 class="h-bold">or</h2>
-->
              <h2 class="h-bold">Save $50 by booking online</h2>
            </div>
                <!-- <a class="big-heading highlight-dark wow bounceInDown btn-red" href="tel:+18175134168">Tap to call us</a> -->
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="buses" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 0%; max-width: 100%; overflow: hidden">
   <div class="container marginbot-50" >
    <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
      <div class="section-heading text-center">
        <h2 class="">We have the largest fleet available in DFW</h2>
      </div>
    </div>
  </div>
  {% for bus in buses %}
    <!-- Card formatting -->
  <div id="{{ bus.name }}" class="container" style="padding: 5% 3% 5% 3%;">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <div class="card-action text-center big-heading" style="padding-top: 5%; padding-bottom: 5%; color: grey;">
                {{ bus.name }}
                </div>
                <div class="card-image">
                  {% if bus.primary_image %}
                    <img class="img-responsive img-resize" src="{{ bus.primary_image.url }}"">
                  {% endif %}
                  {% if bus.secondary_image %}
                    <img class="img-responsive img-resize" src="{{ bus.secondary_image.url }}"">
                  {% endif %}
                </div>
                
                <div class="card-content">
                    <p>{{ bus.description }}</p>
                </div>

                <div class="card-action text-center">
                    <a class="big-heading highlight-dark wow bounceInDown btn-colored" href="{% url 'bookings:get_bus_and_create_reservation' bus.id %}" >Get My Price</a>
                </div>
<!--
              <div class="card-action text-center">
                    <a class="big-heading highlight-dark wow bounceInDown btn-red " href="{% url 'bookings:home' %}#contact" >Call for price</a>
                  -->
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
  <div class="container marginbot-50 section-heading" style="padding:0px 5% 0% 5%">
    <h2>Want more options?</h2>
    <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <h2>Give us a Ring</h2>
     <p><a class="big-heading highlight-dark wow bounceInDown" href="tel:+18175134168">Tap To Call</a></p>
  </div>
</section>

<section id="service" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 0%; max-width: 100%; overflow: hidden">
    <div class="container marginbot-50" style="">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Our Service</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
                <p class="wow bounceInDown" data-wow-delay="0.2s">We cater to any event from children's parties to corporate outings. Our in-house concierge will plan work with you to plan your event down to minute. We guarantee the best service in DFW.
              </p>
              <img class="img-responsive" src="{% static 'Bookings/img/website/EventPhoto.png' %}" alt="event photo">
              <p style="padding-top: 5%">Call us or select a bus to get started.</p>

              <p><a class="big-heading highlight-dark wow bounceInDown" href="tel:+18175134168">Tap To Call</a></p><!--
              <p style="padding:5% 10% 5% 10%" class="wow bounceInDown" data-wow-delay="0.2s">We've partnered with local companies to provide world class and custom party bus experiences here in The DFW.
              </p>
              <p style="padding:5% 10% 5% 10%" class="wow bounceInDown" data-wow-delay="0.2s"> We include a prive concierge for you to speak with to get ideas, tips and event planning. You will have peace of mind knowing your event will be perfect. 
              </p>
            -->
            </div>
          </div>
        </div>
</section>

<!-- Events section 
<section id="events" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 10%">
   <div class="container marginbot-50" >
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Events</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">We can cater to any event from children's parties to corporate outings, your Party Bus Company concierge will make sure your event transportation will be perfect. 
              </p>
              <img class="img-responsive" src="{% static 'Bookings/img/website/EventPhoto.png' %}" alt="event photo">
            </div>
          </div>
        </div>
      </section> -->




<!-- Contact form section -->
<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 10%">
      <div class="container marginbot-50" >
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact us!</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">Call us at <a style="color: blue" href="tel:+18175134168">817-513-4168</a> or send us a message using the form below.
              </p>
            </div>
          </div>





  <form id="contactform" action="{% url 'bookings:home' %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                {% csrf_token %}
                <div class="form-padding form-group">
                  {% bootstrap_field form.from_email %}
                  {% bootstrap_field form.message %}
                </div>

                <div style="padding:5% 0px 10% 0px">

                  <a class="big-heading highlight-dark wow bounceInDown text-center" onclick="document.getElementById('contactform').submit()">Send Message</a>
                </div>
              </form>

              <a class="big-heading highlight-dark wow bounceInDown text-center" href="{% url 'bookings:home' %}#buses">Back to the top</a>

</section>




{% endblock content %}