{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'bookings:home' %}">The Party Bus Company</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right fropdown-menu">
         <li><a href="{% url 'bookings:home' %}#buses">Buses</a></li>
         <li><a href="{% url 'bookings:faq' %}">Question Center</a></li>
         <li><a href="{% url 'bookings:home' %}#contact">Contact Us</a></li>
        </ul>
      </div> <!-- navbar collapse -->
    </div> <!-- container fluid -->
</nav>

     <!-- Section: parallax 1 -->
  <section id="parallax4" class="home-section parallax text-light" data-stellar-background-ratio="0.3" style="padding: 0 0 5% 0">
    <div class="container" style="padding: 0 0 0 0">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center" style="padding: 10% 0% 5% 0%;">
              <h2 class="h-bold" style="background-color: #000; opacity: 0.7; padding: 0 10% 0 10%">DFW's party buses in one place</h2>

              <h2>
                &nbsp;
              </h2>

              <div class="h-bold" style="background-color: #000; opacity: 0.7; padding: 0 10% 0 10%">

              <h2 class="h-bold">Get your bus and get your price below</h2>
              <h2 class="h-bold">or</h2>
              <h2 class="h-bold">Call: <a style="color: red" href="tel:+18175134168">817-513-4168</a></h2>
            </div>
                 
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="buses" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 10%">
    <div class="container marginbot-50" style="">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Our Party Buses</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 10% 5% 10%" class="wow bounceInDown" data-wow-delay="0.2s">We partner with local companies to offer the largest Party Bus fleet in Dallas - Fort Worth! We have what you are looking for. 
              </p>
            </div>
          </div>
        </div>
  {% for bus in buses %}
    <!-- Card formatting -->
  <div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <div class="card-action text-center big-heading" style="padding-top: 5%; padding-bottom: 5%; color: grey;">
                {{ bus.name }}
                </div>
                <div class="card-image">
                    <img class="img-responsive img-resize" src="{{ bus.primary_image.url }}"">
                    <img class="img-responsive img-resize" src="{{ bus.secondary_image.url }}"">
                </div>
                
                <div class="card-content">
                    <p>{{ bus.description }}</p>
                </div>
                
                <div class="card-action text-center">
                    <a class="big-heading highlight-dark wow bounceInDown btn-red " href="{% url 'bookings:get_bus_and_create_reservation' bus.id %}" >Get Price</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
</section>


<!-- Contact form section -->
<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center" style="padding-bottom: 10%">
      <div class="container marginbot-50" style="padding:0px 10% 0% 10%">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Questions? Contact us!</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">We'll work you to make sure you get what you are looking for. Call us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> or send us a message using the form below.
              </p>
            </div>
          </div>





  <form id="contactform" action="{% url 'bookings:home' %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                {% csrf_token %}
                <div class="form-padding form-group">
                  {% bootstrap_field form.from_email %}
                  {% bootstrap_field form.message %}
                </div>

                <div style="padding:5% 0px 10% 0px">

                  <a class="big-heading highlight-dark wow bounceInDown btn-red text-center" onclick="document.getElementById('contactform').submit()">Send Message</a>
                </div>
              </form>

              <a class="big-heading highlight-dark wow bounceInDown btn-red text-center" href="{% url 'bookings:home' %}#buses">Back to the top</a>

</section>




{% endblock content %}