{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

     <!-- Section: parallax 1 -->
  <section id="parallax4" class="home-section parallax text-light" data-stellar-background-ratio="0.3">
    <div class="container" style="padding: 0 0 0 0">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold" style="background-color: #000; opacity: 0.7">The Party Bus Company</h2>
              <div class="divider-header"></div>
              <p style="background-color: black; opacity: 0.7">DFW's home for party bus rentals! - Contact us at: <a style="color: red" href="tel:+18175134168">817-513-4168</a> </p></p>
              <div style="padding:10% 75px 0% 75px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:quote_form' %}">Prices</a>
              </div>
              <div style="padding:5% 75px 0% 75px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:buses' %}">Buses</a>
              </div>
              <div style="padding:5% 75px 0% 75px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:specials' %}">Special Offers</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Section: parallax 4 
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.3">
    <div class="container" style="padding: 0 0 0 0">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <button class="big-heading highlight-dark wow bounceInDown btn-red" data-wow-delay="0.2s">
                Buses
              </button>
          </div>
        </div>
      </div>
    </div>
  </section>

-->

<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:0px 10% 5% 10%">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Unsure? Contact us. we're quick!</h2>
              <div class="divider-header"></div>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> - 9:00 AM to 9:00 PM.</p>
              <div class="section-heading text-center">
              <h2 class="h-bold">Or</h2>
              <form id="Contactform" method="post">
                <div class="form-padding form-group" style="padding-bottom: 1%">
                {% csrf_token %}
                {% bootstrap_field form.from_email %}
                {% bootstrap_field form.message %}
              </div>
                <div class="form-actions">
                  <a class="big-heading highlight-dark wow bounceInDown btn-red" onclick="document.getElementById('Contactform').submit()">Send Message</a>
                </div>
              </form><!--
              <div style="padding-top: 10%">
              <h2 class="h-bold">Phones your thing?</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> - 9:00 AM to 9:00 PM.</p>
            </div> -->
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 75px 100px 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Contact</h2>
              <div class="divider-header"></div>
              <p>Email Service@ThePartyBusCompany.com for questions and reservations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section> -->

{% endblock content %}