{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 75px 300px 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sorry!</h2>
              <div class="divider-header"></div>
              <p>We can't accept reservations more than 60 days in advance at this time.</p>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> for questions and reservations.</p>
            </div>
          </div>
        </div>
        <div style="padding:10% 0px 1% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Tap to Email</a>
      </div>
    </div>
   </section>

{% endblock content %}