{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}  

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'bookings:home' %}">The Party Bus Company</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right fropdown-menu">
         <li><a href="{% url 'bookings:home' %}#buses">Buses</a></li>
         <li><a href="{% url 'bookings:faq' %}">Question Center</a></li>
         <li><a href="{% url 'bookings:home' %}#contact">Contact Us</a></li>
        </ul>
      </div> <!-- navbar collapse -->
    </div> <!-- container fluid -->
</nav>
  <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:25px 75px 300px 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Sorry!</h2>
              <div class="divider-header"></div>
              <p>We can't accept reservations more than 60 days in advance at this time.</p>
              <p>Call or text us at <a style="color: red" href="tel:+18175134168">817-513-4168</a> for questions and reservations.</p>
            </div>
          </div>
        </div>
        <div style="padding:10% 0px 1% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Tap to Email</a>
      </div>
    </div>
   </section>

{% endblock content %}