{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}
<body>


<div class="jumbotron">
	<div class="jumbotron-inner" style="width: 100%; min-width: 250px">
		<form id="pricecalculatorform" action="{% url 'bookings:price_calculator_form' %}" method="post">
			{% csrf_token %}
			{% bootstrap_field form.hourly_rate_cost %}
			{% bootstrap_field form.hours %}
			{% bootstrap_field form.hourly_markup %}
			{% bootstrap_field form.service_fee_rate %}
		<div style="padding:0% 0px 10% 0px">
    	</div>
	</form>
    <a class="btn btn-info" onclick="document.getElementById('pricecalculatorform').submit()">Get Price</a>
	</div>


</div>
</body>

{% endblock content %}