{% extends "bookings/base.html" %}
{% load static %}

{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-header navbar-brand h-1 text-center" href="{% url 'bookings:home' %}">The Party Bus Company</a>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="{% url 'bookings:quote_form' %}">Prices</a></li>
         <li><a href="{% url 'bookings:buses' %}">Buses</a></li>
         <li><a href="{% url 'bookings:specials' %}">Specials</a></li>
         <li><a href="{% url 'bookings:faq' %}">FAQ's</a></li>
        </ul>
      </div>
</nav>

 <!-- Section: contact -->
  <section class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:0px 10% 15% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Prices</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 10% 5% 10%" class="wow bounceInDown" data-wow-delay="0.2s">Our pricing is clear.
              </p>

              <div style="padding:5% 0px 5% 0px">
              <p class="text-left"> Sunday - Thursday </p>
              <table class="table-striped table-hover" align="center">
              	<thead>
              		<tr>
              			<th width="20%" class="text-center">Bus Size</th>
              			<th width="20%" class="text-center">4 hours</th>
              			<th width="20%" class="text-center">Additional Hour</th>
              		</tr>
              	</thead>
              	<tr>
              		<td>12 Passengers</td>
              		<td>$400</td>
              		<td>$95</td>
              	</tr>
              	<tr>
              		<td>16 Passengers</td>
              		<td>$440</td>
              		<td>$105</td>
              	</tr>
              	<tr>
              		<td>22 Passengers</td>
              		<td>$480</td>
              		<td>$110</td>
              	</tr>
              	<tr>
              		<td>30 Passengers</td>
              		<td>$520</td>
              		<td>$120</td>
              	</tr>
              </table>
          	</div>
          	<div style="padding:5% 0px 5% 0px">
              <p class="text-left"> Friday - Saturday </p>
              <table class="table-striped table-hover" align="center">
              	<thead>
              		<tr>
              			<th width="20%" class="text-center">Group Size</th>
              			<th width="20%" class="text-center">4 hours</th>
              			<th width="20%" class="text-center">Additional Hour</th>
              		</tr>
              	</thead>
              	<tr>
              		<td>12 Passengers</td>
              		<td>$440</td>
              		<td>$105</td>
              	</tr>
              	<tr>
              		<td>16 Passengers</td>
              		<td>$480</td>
              		<td>$115</td>
              	</tr>
              	<tr>
              		<td>22 Passengers</td>
              		<td>$520</td>
              		<td>$120</td>
              	</tr>
              	<tr>
              		<td>30 Passengers</td>
              		<td>$560</td>
              		<td>$130</td>
              	</tr>
              </table>	
              </div>
              <p style="font-size: small">
                *4 hour minumum. Prices do not include the 20% service and transport fee.
              </p>
              <div style="padding:3% 0px 2% 0px"> 
              	<a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:quote_form' %}">Get Total Price</a>
              </div>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <div style="padding:1% 0px 1% 0px">
              	<a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:specials' %}">See Special Offers</a>
              </div>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <div style="padding:1% 0px 1% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Looking For Something Else?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section> -->
{% endblock content %}