{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static 'contrib/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'contrib/font-awesome.min.css' %}">
<script src="{% static 'Bookings/js/jquery.min.js' %}"></script>
<script src="{% static 'contrib/bootstrap.js' %}"></script>
{% block content %}

<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
	<div class="container marginbot-50" style="padding:0px 10% 15% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold"></h2>
              <p class="wow bounceInDown" data-wow-delay="0.2s">Enter your event info and tap "Continue".</p>

              <!-- Price Form -->
              <form id="PriceForm" action="{% url 'bookings:price_form' reservation.id %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
              	{% csrf_token %}
              	<div class="form-padding form-group">
              		{% bootstrap_field form.date %}
              		{% bootstrap_field form.duration %}
                  <!-- email goes here -->
              	</div>
              	<div style="padding:0% 0px 10% 0px">
              		<a class="big-heading highlight-dark wow bounceInDown btn-colored text-center" onclick="document.getElementById('PriceForm').submit()">Continue</a>
              	</div>
              </form>
          </div>
          <div class="section-heading">
          <p>Or, speak with us directly</p>
                 <a class="big-heading highlight-dark wow bounceInDown " href="tel:+18175134168">Tap to call us</a>
            </div>
      </div>
  </div>
</div>
</div>
</section>


{% endblock content %}