{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static 'contrib/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'contrib/font-awesome.min.css' %}">
<script src="{% static 'Bookings/js/jquery.min.js' %}"></script>
<script src="{% static 'contrib/bootstrap.js' %}"></script>
{% block content %}

<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
	<div class="container marginbot-50" style="padding:0px 10% 15% 10%">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">*Crosses fingers*</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p class="wow bounceInDown" data-wow-delay="0.2s">Complete the form and tap "Get Availability".</p>

              <!-- Price Form -->
              <form id="PriceForm" action="{% url 'bookings:price_form' reservation.id %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
              	{% csrf_token %}
              	<div class="form-padding form-group">
              		{% bootstrap_field form.date %}
              		{% bootstrap_field form.duration %}
                  {% bootstrap_field form.email %}
              	</div>
              	<div style="padding:0% 0px 10% 0px">
              		<a class="big-heading highlight-dark wow bounceInDown btn-red text-center" onclick="document.getElementById('PriceForm').submit()">Get Availability</a>
              	</div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
</section>


{% endblock content %}