{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

<!-- Section: Navbar -->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'bookings:home' %}">The Party Bus Company</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right fropdown-menu">
         <li><a href="{% url 'bookings:quote_form' %}">Prices</a></li>
         <li><a href="{% url 'bookings:buses' %}">Buses</a></li>
         <li><a href="{% url 'bookings:specials' %}">Specials</a></li>
         <li><a href="{% url 'bookings:faq' %}">FAQ's</a></li>
        </ul>
      </div> <!-- navbar collapse -->
    </div> <!-- container fluid -->
</nav>


<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:0px 10% 0% 5%">
        <div class="col-lg-8 col-lg-offset-2">
        </div>
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">Our best price</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p>Your total price is ${{ reservation.quote_amount|div:100|floatformat:2|intcomma }} (includes transport fees and taxes) for a {{reservation.bus_size }} person bus on {{ reservation.date }}.</p>
              <p><span style="color: red">Prices are based on time and demand. </span>Our prices start incredibly low and edge higher the closer it gets to your reservation date. We project that you will <span style="color: green;"><strong>SAVE ${{ reservation.quote_savings|div:100|floatformat:2|intcomma }} </strong></span>by reserving today.</p>
              <p>Call or text<a style="color: red" href="tel:+18175134168"> 817-513-4168</a> for bookings and questions, or...</p> 
              <div style="padding:2% 0px 2% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:reservation' reservation.id %}">Book Now Online</a>
              </div>


              <h2 class="h-bold">First Time?</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p>Like most people you've probably never rented a party bus before, and you have some questions. Here is some more info about our service:</p>

              <div class="text-left">
                <p>1. We handle all occassions - weddings, birthdays, sporting events, Winstar trips, and more...</p>
                <p>2. The driver is under your direction during your reservation. We can make as many stop-and-go's as you like.</p>
                <p>3. All our buses are limo-style seating and BYOB. We will provide drinking glasses and napkins. Dancing pole available upon request.</p>
                <div style="padding:1% 0px 5% 0px" class="text-center">
                  <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:faq' %}">See More FAQ's</a> </div>
                </div>

              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
<!--
              <h2 class="h-bold">Why book now?</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p>We project that you will <span style="color: green;">SAVE ${{ reservation.quote_savings|div:100|floatformat:2|intcomma }} </span>by reserving right now.</p>
              <p><span style="color: red">Prices are based on time and demand. </span>Our prices start incredibly low and edge higher the closer it gets to your reservation date.</p>
              <p>Call or text us if you have questions at: <a style="color: red" href="tel:+18175134168">817-513-4168</a></p> 
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div> --><!--
              <h2 class="h-bold">$100 deposit</h2>
              <p>reserves a bus for your price!</p>
              <p>Call or text us if you have questions at: <a style="color: red" href="tel:+18175134168">817-513-4168</a></p> -->
              <div class="illustration"> 
              <img style="max-height: 300px" src="{% static 'Bookings/img/henock/white-outside.png' %}" alt="Party Van">
              <img style="max-height: 300px" src="{% static 'Bookings/img/alliance22/1.png' %}" alt="Party bus">
              <p style="font-size: x-small;">*No guarantee the bus shown will be used for your reservation.</p>
            </div>
</section>
            </div>
          </div>
        </div>
<!--
        <div style="padding:0% 0px 5% 0px">
                <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:quote_no_reservation' reservation.id %}">Not Yet</a>
              </div>
      <div style="padding:0% 0px 10% 0px">
      <a class="big-heading highlight-dark wow bounceInDown btn-red" href="{% url 'bookings:home' %}#contact">Unsure?</a> </div>

-->
{% endblock content %}