 {% extends "bookings/base.html" %}
 {% load bootstrap3 %}
{% load static %}

{% block content %}
 <!-- Section: contact -->
  <section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50" style="padding:0px 75px 15% 75px">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading text-center">
              <h2 class="h-bold">:(</h2>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">We want to improve, can you leave us with your feedback?
              </p>
              <form id="surveyform" action="{% url 'bookings:quote_no_reservation' reservation.id %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                {% csrf_token %}
                <div class="form-padding form-group">
                  {% bootstrap_field form.reason %}
                  {% bootstrap_field form.detail %}
                </div>

                <div style="padding:0% 0px 10% 0px">
                  <a class="big-heading highlight-dark wow bounceInDown btn-red text-center" onclick="document.getElementById('surveyform').submit()">Submit</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






{% endblock content %}