{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
<script src="{% static 'Bookings/js/jquery.min.js' %}"></script>
{% block content %}
<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
	<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
        <div class="section-heading text-center">
            <h2 class="h-bold">On Your Way!</h2>
        </div>
        </div>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">Complete the reservation form below.
              </p>
	<form id="reservationform" action="{% url 'bookings:reservation' %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
		{% csrf_token %}
		<div class="form-padding form-group">
			{% bootstrap_field form.first_name field_class='reservation-format' %}
			{% bootstrap_field form.last_name layout='vertical' %}
			{% bootstrap_field form.bus_size %}
			{% bootstrap_field form.date %}
			{% bootstrap_field form.start_time %}
			{% bootstrap_field form.duration %}
			{% bootstrap_field form.location_pick_up %}
			{% bootstrap_field form.location_drop_off %}
			{% bootstrap_field form.comments %}
		</div>

		<div style="padding:0% 0px 10% 0px">
    	<a class="big-heading highlight-dark wow bounceInDown btn-red" onclick="document.getElementById('reservationform').submit()">Continue</a>
    	</div>
</section>
{% endblock content %}