{% extends "bookings/dashboard_base.html" %}

{% block content %}

<div class="jumbotron">
	<h4 class="text-left">
		Reservations within the next seven days
	</h4>
	<div class="text-left" style="font-size:8;">
		sorted by reservation date	
	</div>

	<table class="table-striped table-hover">
		<thead>
			<tr>
				<th width="15%">#</th>
				<th width="20%">Created Date</th>
				<th width="20%">Reservation Date</th>
				<th width="23%">Payment Status</th>
				<th scope="col">Name</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>
						<a href="{% url 'bookings:booking' reservation.id %}">
							{{ reservation }}
						</a>
					</td>
					<td>{{ reservation.created }}</td>
					<td>{{ reservation.date }}</td>
					<td>{{ reservation.payment.status }}</td>
					<td>{{ reservation.first_name }} {{ reservation.last_name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<p style="color:red"> tap on the booking number to access the details.</p>
<div class="line">
</div>


{% endblock content %}