{% extends "bookings/base.html" %}
{% load bootstrap3 %}
{% load static %}
<script src="{% static 'Bookings/js/jquery.min.js' %}"></script>
<!-- Event snippet for Bookings conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-826301646/sFeVCIC22XoQzrmBigM'});
</script>
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-header navbar-brand h-1 text-center" href="{% url 'bookings:home' %}">The Party Bus Company</a>
      </div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="{% url 'bookings:prices' %}">Prices</a></li>
         <li><a href="{% url 'bookings:buses' %}">Buses</a></li>
         <li><a href="{% url 'bookings:specials' %}">Specials</a></li>
        </ul>
      </div>
</nav>


<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
	<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
        <div class="section-heading text-center">
            <h2 class="h-bold">On Your Way!</h2>
        </div>
        </div>
              <div class="divider-header wow bounceInDown" data-wow-delay="0.2s">
              </div>
              <p style="padding:5% 75px 5% 75px" class="wow bounceInDown" data-wow-delay="0.2s">We need a few more details...
              </p>
	<form id="reservationform" action="{% url 'bookings:reservation' reservation.id %}" method="post" class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
		{% csrf_token %}
		<div class="form-padding form-group">
			{% bootstrap_field form.first_name field_class='reservation-format' %}
			{% bootstrap_field form.last_name layout='vertical' %}
			{% bootstrap_field form.phone_number %}
			{% bootstrap_field form.start_time %}
			{% bootstrap_field form.location_pick_up %}
			{% bootstrap_field form.location_drop_off %}
			{% bootstrap_field form.comments %}
      <p class="">Confirm the following:</p>

      {% bootstrap_field form.date %}
      {% bootstrap_field form.duration %}

		</div>

		<div style="padding:0% 0px 10% 0px">
    	<a class="big-heading highlight-dark wow bounceInDown btn-red" onclick="document.getElementById('reservationform').submit()">Continue</a>
    	</div>
    </form>
</section>
{% endblock content %}