{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}
<body>
<div class="jumbotron">
	<div class="jumbotron-inner">
		<form id="createbusform" action="{% url 'bookings:vehicle_management' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_field form.name %}
			{% bootstrap_field form.cost %}
			{% bootstrap_field form.active %}
			{% bootstrap_field form.primary_image %}
			{% bootstrap_field form.secondary_image %}
			{% bootstrap_field form.description %}
			{% bootstrap_field form.affiliate %}
			<a class="btn btn-info" onclick="document.getElementById('createbusform').submit()">Create Bus</a>
	</form>
	</div>

	<div class="jumbotron-inner">
		<h4 class="text-left">
		All Buses
	</h4>
	<div class="text-left" style="font-size:8;">
		sorted by created date	
	</div>

	<table class="table-striped table-hover">
		<thead>
			<tr>
				<th width="15%">Name</th>
				<th width="20%">Active</th>
				<th width="20%">Affiliate</th>
			</tr>
		</thead>
		<tbody>
			{% for bus in buses %}
				<tr>
					<td>
						<a href="{% url 'bookings:vehicle_profile' bus.id %}">
							{{ bus }}
						</a>
					</td>
					<td>{{ bus.active }}</td>
					<td>{{ bus.affiliate }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


</div>
</body>


{% endblock content %}