{% extends "bookings/dashboard_base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="jumbotron">
<p>
A password reset link will be sent to your email on file.
</p>
<p>
	&nbsp;
</p>
	<form action="." method="post">
		{% csrf_token %}
		{% bootstrap_form form layout='inline' size='large' %}
		<button type="submit" name="btn-r_form">Send password
		reset link</button>
	</form>
<p>
If you do not 
receive an email within a few minutes, 
contact your web administrator.
</p>
</div>
{% endblock content %}